.git/
.github/
.idea/
/vendor
bootstrap/cache/*
node_modules/
storage/app/*
storage/framework/cache/*
storage/framework/testing/*
storage/logs/*
phpunit.xml
README.md
.editorconfig
.env.example
.gitattributes
